@model TransfersApp.Models.ClientPaymentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientPaymentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Travel.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travel.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
